$ffp: 'Poppins', sans-serif;
$ffr: 'Roboto', sans-serif;

.profile {
    width: 100%;

    &__container {
        padding: 15px 10px 15px 10px;
        max-width: 1320px;
        /*margin: 0 auto;*/
    }

    &__main {
        width: 100%;
    }



    &__header {
        width: 100%;
    }

    &__header img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
    }


    &__info {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
    }

    &__ava {
        display: flex;
        flex-direction: column;


        img {
            max-width: 200px;
            height: auto;
            object-fit: cover;
            object-position: top;
            margin-bottom: 15px;
            border-radius: 8px;
        }
    }

    &__load {
        border: 1px solid #ccc;
        display: flex;
        max-width: 200px;
        padding: 8px 0;
        justify-content: center;
        cursor: pointer;
        background-color:#1a8cff;
        border-radius: 8px;
        font-family: $ffr;
        color: #eee;
    }

    &__description {}

    &__data {}

}
input[type="file"] {
    display: none;
}

/*input[type='file'] {
    color: transparent;
}*/

.data {

    &__name {
        font-family: $ffr;
        font-size: 20px;
        line-height: 30px;
        color: #186ccd;
    }

    &__status {
        font-family: $ffp;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    &__text {
        font-family: $ffp;
        line-height: 18px;
        margin-bottom:3px;
        color: #6a6e6e;


        span {
            color: #186ccd;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__contacts {
        font-family: $ffp;
        line-height: 18px;
        color: #6a6e6e;
        margin-bottom: 10px;
    }

    &__edit {
        border: 1px solid #ccc;
        display: flex;
        max-width: 200px;
        width: 100%;
        padding: 8px 0;
        justify-content: center;
        cursor: pointer;
        background-color:#1a8cff;
        border-radius: 8px;
        font-family: $ffr;
        color: #eee;
    }
}

.contacts {
    font-family: $ffp;
    line-height: 18px;
    margin-bottom:3px;
    &__value {
        color: #186ccd;
    }

    &__title {
        margin-left: 8px;
        color: #6a6e6e;
    }
}

@media (max-width: 991px) {
    .profile {
        /*flex: 1 1 100%;*/
    }
}