.profile {
    width: 100%;
    flex: 1 1 80%;
    
    &__container {
        padding: 15px 10px;
        max-width: 1200px;
        margin: 0 auto;
    }


    &__header {
        
        
    }

}