.profile {
    width: 100%;

    
    &__container {
        padding: 15px 10px 15px 10px;
        max-width: 1320px;
        margin: 0 auto;
    }

    &__main {

    }



    &__header {
        width: 100%;
    }

    &__header img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
    }


    &__info {

    }

    &__ava {
        img {
            max-width: 200px;
            height: auto;
        }
    }

    &__description {

    }

}

@media (max-width: 991px) {
    .profile {
        /*flex: 1 1 100%;*/
    }
}