$ffp: 'Poppins', sans-serif;
$ffr: 'Roboto', sans-serif;
$ffn: 'Nunito', sans-serif;

.posts {
   
    &__container {
        margin-top: 20px;
    }

    &__text {
        border: 1px solid rgb(182, 182, 182);
        border-radius: 5px;
        padding: 10px 5px;
        font-family: $ffn;
        width: 450px;
        flex: 0 1 100%;
    }

    &__items {

    }

    &__item {
        margin: 0 0 25px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__form {
        width: 450px;
        background-color: #dadce8;
        border-radius: 5px;
        margin-bottom: 20px;
        flex: 0 1 100%;
    }

    &__btn {
        margin: 5px 8px;
        padding: 5px 8px;
        background-color:#1a8cff;
        border-radius: 8px;
        font-family: $ffr;
        color: #eee;
    }

    &__title {
        font-family: $ffp;
        font-size: 18px;
        color: #186ccd;
        margin-bottom: 10px;
    }

}
@media (max-width: 767px) {
    .posts {

        &__title {
            text-align: center;
        }
        &__container {
            margin: 0 auto;
        }
        &__text {
            width: 250px;
            margin: 0 auto 20px auto;

        }
        &__form {
            margin: 0 auto 20px auto;
            width: 250px;
        }
    }
}