.validation {

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__field {
    max-width: 100%;
    border-radius: 5px;
    border: 2px red solid;
    margin-bottom: 10px;
  }

  &__message {
    color: red;
  }

  &__group {
    color: #af2721;
    border: 2px red solid;
    padding: 5px;
  }

  &__f {
    display: flex;
    max-width: 450px;
  }
}