.validation {

  &__container {
    display: flex;
    align-items: center;
  }

  &__field {
    border-radius: 5px;
    border: 2px red solid;
    margin-right: 10px;
  }



  &__message {
    color: red;
  }

  &__group {
    color: #af2721;
    border: 2px red solid;
    padding: 5px;
  }
}