.main {
    overflow: hidden;
    flex: 1 1 auto;


    &__container {
        padding-top: 70px;
        display: flex;

    }
}

@media (max-width: 991px){
    .main {

        &__container {
            padding-top: 0px;
        }
    }

}