.main {
    overflow: hidden;
    flex: 1 1 auto;


    &__container {
        padding-top: 70px;
        display: flex;
        width: 100%;
    }

    &__nav {
        min-height: 100%;
    }

    &__content {
    }
}

@media (max-width: 991px){
    .main {
        overflow: hidden;

        &__container {
            padding-top: 60px;
        }
    }

}