$ffp: 'Poppins', sans-serif;
$ffr: 'Roboto', sans-serif;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 70px;

    
    background-color: #186ccd; // main color(header, nav)
    //#d13129

    &__container {
        height: 100%;
        padding: 0 25px;
    }

    &__main {
        display: flex;
        align-items: center;
        max-width: 100%;
    }


    &__title {
        font-size: 30px;
        line-height: 32px;
        font-family: $ffp;
        a {
            color: #fff;
        }
        
        font-weight: 700;
    }


    &__menu {
        display: none;
    }

    &__icon {

    }


    &__photo {
        width: 50px;
        height: 50px;


        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #ebc1bf;
        }
    }
}

.active {}

.login {

    &__container {
        display: flex;
        align-items: center;
    }

    &__photo {
        width: 50px;
        height: 50px;


        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #ebc1bf;
        }
        margin-right: 10px;
    }

    &__notfoto {
        display: none;
    }

    &__link {
        font-size: 22px;
        line-height: 18px;
        font-family: $ffr;
        color: #fff;
        cursor: pointer;
        a {
            color: #fff;
        }

        font-weight: 500;
    }

    &__exit {


    }
}


@media (max-width: 991px) {
    .header {
        position: fixed;
        height: 60px;
        overflow: hidden;

        &__container {
            align-items: center;
        }
        &__main {
            order: 2;
        }

        &__title {
            font-size: 24px;
            line-height: 25px;
        }


        &__menu {
            display: flex;
            order: 3;
        }
        &__icon {
            display: block;
            width: 40px;
            height: 26px;

            position: relative;



            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: all 0.3s ease 0s;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: all 0.3s ease 0s;
            }

            span {
                position: absolute;
                top: 50%;
               /* transform: scale(1) translate(0px, -50%);*/
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: all 0.3s ease 0s;
            }
        }

        &__icon.active:before {
            transform: rotate(45deg);
            top: 12px;
        }

        &__icon.active:after {
            transform: rotate(-45deg);
            bottom: 12px;
        }

        &__icon.active {
            span {
                transform: scale(0);
            }
        }
    }
    .login {
        order: 1;

        &__photo {
            width: 45px;
            height: 45px;


        }
    }
    .active {

    }

}

@media (max-width: 767px) {
    .header {
        &__main {
            order: 2;
        }
        &__menu {
            order: 3;
        }


        &__title {
            font-size: 20px;
            text-align: center;
        }
    }
    .login {
        order: 1;
    }

    .active {

    }
}


