.navbar {
    background-color: #eee;

    min-height: 100vh;
    max-width: 250px;
    height: 100%;
    overflow: hidden;

    &__menu {
        padding: 50px 20px 0 20px;
    }

    &__list {

        li {
            margin: 0 0 30px 0;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;

            a {
                color: #186ccd;
            }

            &:last-child {
                margin-bottom: 50px;
            }
        }
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #186ccd;
        }
    }
}
.active {}

.login {

    &__link {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        cursor: pointer;

        a {
            color: #186ccd;
        }
    }

    &__exit {
        color: #186ccd;
    }
}

@media (max-width: 991px) {
    .navbar {
        overflow: auto;

        max-width: 100%;
        &__menu {
            position: fixed;
            z-index: 4;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:#1a8cff;
            padding: 90px 0 0 20px;
            transition: all 0.3s ease 0s;
        }

        &__menu.active {
            top: 0;
        }

        &__list {

            li {
                margin: 0 0 25px 0;
                font-family: 'Roboto', sans-serif;
                font-size: 28px;
                line-height: 30px;

                a {
                    color: #eee;
                }

                &:last-child {
                    /*margin-bottom: 50px;*/
                    margin-bottom: 0;
                }
            }

            margin: 0 0 25px 0;
        }
    }

    .login {

        &__link {
            font-size: 28px;
            line-height: 30px;
            font-family: 'Roboto', sans-serif;
            color: #fff;

            cursor: pointer;

            a {
                color: #eee;
            }

            margin-bottom: 10px;
        }

        &__exit {
            color: #eee;
        }
    }
}
