.post {
    display: flex;
    flex-direction: column;

    max-width: 450px;
    &__container {
        flex: 0 1 auto;
        padding: 10px;
        border: 1px solid rgb(182, 182, 182);
        background-color: rgb(247, 247, 247);
        border-radius: 5px;
    }

    &__body {
        width: 100%;
        display: flex;
        align-items: start;
        padding-bottom: 10px;
        border-bottom: 1px solid #b2b8b8;
    }


    &__image {
        margin-right: 15px;
        width: 50px;
        height: 50px;
       

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #abd6ff;;
        }
    }

    &__text {
        padding-top: 10px;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        line-height: 18px;
        
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }

    &__like {
        margin: 5px 10px 0 0;
    }
}
