.footer {
    width: 100%;
    height: 70px;
    background-color: #A9A9A9;
    
    .footer__container {}

    .footer__copyright {
        text-align: center;
        position: relative;
        top: 50%;
        transform: (0, -50%);

        text-transform: uppercase;
        font-size: 14px;
        color: #000;

        font-family: 'Poppins', sans-serif;
    }
}