$ffp: 'Poppins', sans-serif;
$ffr: 'Roboto', sans-serif;
$ffn: 'Nunito', sans-serif;

.login {
  width: 100%;

  &__container {
    padding: 15px;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: $ffr;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}



.form {

  &__container {}

  &__email {
    max-width: 450px;
    margin-bottom: 15px;
  }

  &__password {
    max-width: 450px;
    margin-bottom: 15px;
  }

  &__checkbox {
    margin-bottom: 15px;
    font-family: $ffp;
  }

  &__checkbox_style {}

  &__btn {
    text-transform: uppercase;
  }
  &__btn_style {
    width: 450px;
    height: 40px;
    background-color: #1a8cff;
    border-radius: 5px;

    text-transform: uppercase;
    font-family: $ffp;
    color: #fff;
    border: 1px solid #c5baba;
    transition-delay: 0.6s;

    &:hover {
      background-color: #4aa7ff;
      transition-delay: 0.4s;
    }
  }

  &__style {
    font-family: $ffp;
    flex: 0 1 100%;
    height: 40px;
    background-color: #eee;
    border-radius: 5px;
    padding-left: 5px;
  }
}

@media (max-width: 767px) {
  .form {

    &__style {
      width: 200px;
      height: 50px;
    }

    &__btn_style {
      width: 200px;
      height: 50px;
    }
  }
}