.dialogs {

    width: 100%;
    flex: 1 1 85%;
    
    &__container {
        display: flex;
        width: 100%;
        height: 100%;

        overflow: auto;
    }

    &__items {
        flex: 1 1 20%;
        background-color: #fff;
        border: 1px solid #d5d5d5;

    }

    &__dialog {
        display: flex;
        width: 100%;
        height: 70px;
        padding: 10px 0px 0px 5px;


    }

    &__message {

    }

    &__messages {
        flex: 1 1 80%;
        padding: 15px;
        background: rgb(226,226,226);
        background: linear-gradient(110deg, rgba(226,226,226,1) 11%, rgba(232,230,230,1) 49%, rgba(227,192,205,1) 89%);

    }

}

.person{
    &__avatar {
        width: 50px;
        height: 50px;

        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #ebc1bf;
            object-fit: cover;
            object-position: center left;
        }
    }

    &__name {
        padding-top: 10px;
    }

    &__text {
        color: #000;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        line-height: 18px;

        &:current {
            color: #000;
        }
    }
}