$ffp: 'Poppins', sans-serif;
$ffr: 'Roboto', sans-serif;
$ffn: 'Nunito', sans-serif;

.dialogs {
    width: 100%;

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 15px 10px 15px 10px;
        overflow: auto;
    }

    &__items {
        flex: 1 1 20%;
        background-color: #fff;
        border: 1px solid #d5d5d5;
    }

    &__dialog {
        display: flex;
        width: 100%;
        height: 70px;
        padding: 10px 0 0 5px;
        border: 1px solid #d5d5d5;
        border-radius: 5px;

        &:focus {
            background-color: #d5d5d5;
        }
    }

    &__message {
        font-size: 16px;
        line-height: 20px;
        font-family: $ffp;
    }

    &__messages {
        flex: 1 1 80%;
        padding: 15px;
        background-color: #e6e7fc;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

.person {
    &__avatar {
        width: 50px;
        height: 50px;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #ebc1bf;
            object-fit: cover;
            object-position: center left;
        }
    }

    &__name {
        padding-top: 10px;
    }

    &__text {
        color: #000;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        line-height: 18px;

        &:current {
            color: #000;
        }
    }
}

.messages {

    &__form {
        max-width: 250px;
        display: flex;
        flex-direction: column;
    }

    &__container{}

    &__create{}

    &__text{
        border: 1px solid rgb(182, 182, 182);
        border-radius: 5px;
        width: 250px;
        padding: 10px 5px;
        font-family: $ffn;
    }

    &__send{
        padding: 8px 12px;
        align-self: end;
        cursor: pointer;
        color: #eee;
        background-color:#1a8cff;
        font-family: $ffr;
        border-radius: 5px;
    }
}

@media (max-width: 767px) {
    .messages {
        &__form {
            max-width: 200px;

        }
        &__text {
            max-width: 200px;
        }

    }

    .person {
        &__avatar {
            width: 45px;
            height: 45px;
        }
        &__name {
            display: none;
        }
    }
}